<h2 mat-dialog-title>Create Transaction</h2>
<mat-dialog-content class="mat-typography">

    <div [formGroup]="transferenceForm">
        <p>
            <mat-form-field appearance="fill" class="dialog-input">
                <mat-label>Receiver</mat-label>
                <input [formControl]="receiver" matInput placeholder="Email address">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="fill" class="dialog-input">
                <mat-label>Value</mat-label>
                <input [formControl]="value" matInput placeholder="Value">
            </mat-form-field>
        </p>

        <div id="actions">
            <button (click)="cancelTransference()" class="action-button" mat-raised-button>Cancel</button>
            <button (click)="sendTransference()" class="action-button" mat-raised-button color="accent">Send</button>
        </div>

    </div>

</mat-dialog-content>