<div id="login-container">
  <div id="form-title"><h1>The new Era of Digital Banking.</h1></div>

  <div id="form-container">
    <div>
      <div id="input-fields">
        
        <mat-form-field class="example-full-width dialog-input">
          <mat-label>Full Name</mat-label>
          <input [formControl]="registerForm.controls.fullName" matInput placeholder="John Doe">
        </mat-form-field>
        <mat-form-field class="example-full-width dialog-input">
          <mat-label>CPF</mat-label>
          <input [mask]="'000.000.000-00'" [formControl]="registerForm.controls.CPF" matInput placeholder="000.000.000-00">
        </mat-form-field>

        <mat-form-field class="example-full-width dialog-input">
          <mat-label>Email</mat-label>
          <input [formControl]="registerForm.controls.email" matInput placeholder="email@email.com">
        </mat-form-field>
        <mat-form-field class="example-full-width dialog-input">
          <mat-label>Password</mat-label>
          <input [formControl]="registerForm.controls.password" matInput type="password" placeholder="*********">
        </mat-form-field>


        <p>
          Already registered? <a href="/client/auth/login">Login into your account.</a>
        </p>

        <div>
          <button (click)="sendRegisterRequest()" [disabled]="registerForm.invalid" mat-raised-button color="primary">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>
