<mat-toolbar>
    <div *ngIf="profile$ | async as profile">
      <span>{{ profile.name | greetings }}</span>
    </div>
    <span style="flex: auto;"></span>
    <div *ngIf="balance$ | async as balance">
      <span>{{ balance.balance | balance }}</span>
    </div>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Overview"></mat-tab>
  <mat-tab label="Transferences"> Content 2 </mat-tab>
  <mat-tab label="Deposits"> Content 3 </mat-tab>
  <mat-tab label="Withdraws"></mat-tab>
</mat-tab-group>

