<mat-toolbar>
    <div *ngIf="profile$ | async as profile">
      <span>{{ profile.name | greetings }}</span>
    </div>
    <span style="flex: auto;"></span>
    <div *ngIf="balance$ | async as balance">
        <span> {{ balance.balance | balance }}</span>
    </div>

<div style="padding-left: 10px;">
  <button mat-button [matMenuTriggerFor]="menu" class="settings">Settings</button>
  <mat-menu #menu="matMenu">
    <button (click)="logout()" mat-menu-item>Logout</button>
  </mat-menu>
</div>

</mat-toolbar>


<mat-tab-group>
  <mat-tab label="Overview">
    <app-client-dashboard-overview></app-client-dashboard-overview>
  </mat-tab>
  <mat-tab label="Transferences">
    <app-client-dashboard-transferences></app-client-dashboard-transferences>
  </mat-tab>
  <mat-tab label="Deposits">
    <app-client-dashboard-deposits></app-client-dashboard-deposits>
  </mat-tab>
  <mat-tab label="Withdraws">
    <app-client-dashboard-withdraws></app-client-dashboard-withdraws>
  </mat-tab>
</mat-tab-group>

