.col-width-timestamp {
  width: 50%;
}

.alg-center{
  text-align: center;
}

.col-width-type {
  width: 30%;
}

#table, th, td{
  padding: 10px 30px;
  border: 1px solid rgb(245, 203, 255);
}

#table, th {
  font-size: large;
}
