<div id="login-container">
  <div id="form-title">Welcome back, Client!</div>

  <div id="form-container">
    <div>
      <div id="input-fields">
        <input
          class="form-login-input"
          type="text"
          id="email"
          name="email"
          placeholder="Email"
          [formControl]="loginForm.controls.email"
        />

        <input
          class="form-login-input"
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          [formControl]="loginForm.controls.password"
        />
      </div>

      <button
        id="login-button"
        type="submit"
        [disabled]="loginForm.invalid"
        (click)="sendLoginRequest()"
      >
        Login
      </button>
    </div>
  </div>

</div>
