#table, th, td{
  padding: 10px 30px;
  border: 1px solid rgb(245, 203, 255);
}

#table, th {
  font-size: large;
}

.bottom-right-div {
  background-color: #7b1fa2;
  position: fixed;
  padding: 5px 10px;
  bottom: 20px;
  right: 10px;
  box-shadow: 2px 0px 8px #222;
}
