
<h1 mat-dialog-title>Create new Deposit</h1>
<div [formGroup]="DepositForm">

  <p>
    <mat-form-field appearance="fill" class="dialog-input">
      <mat-label>Value</mat-label>
      <input [formControl]="value" matInput placeholder="Value">
    </mat-form-field>
  </p>

  <div id="actions">
    <button (click)="cancelDeposit()" class="action-button" mat-raised-button>Cancel</button>
    <button [disabled]="DepositForm.invalid" (click)="sendDeposit()" class="action-button" mat-raised-button color="accent">Send</button>
  </div>

</div>
