<mat-card>
  <table mat-table [dataSource]="transferences$" class="mat-elevation-z8">
      <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{formatDate(element.timestamp) }} </td>
      </ng-container>

      <ng-container matColumnDef="receiver">
          <th mat-header-cell *matHeaderCellDef> Receiver </th>
          <td mat-cell *matCellDef="let element"> {{element.receiver}} </td>
      </ng-container>

      <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Value </th>
          <td mat-cell *matCellDef="let element"> R$ {{element.value}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="bottom-right-div">
      <button mat-button (click)="openTransferenceDialog()">Create Transference</button>
  </div>
</mat-card>
